{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<h1>Medications</h1> <!--text-align: center for CSS-->
<ul class="list-group list-group-flush" id="meds">
    {% for med in user.meds  %}
    <li class="list-group-item">{{ med.data }}
        <button type="button" class="close" onClick="deleteMed({{ med.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="med" id="med" class="form-control"></textarea>
    <br>
    <div>   <!--text-align: center for CSS-->
        <button type="submit" class="btn btn-primary">Add Medication</button>
    </div>
</form>

{% endblock %}